/* prices screen styles */
	.prices-content {
		background: white;
		background-image: url(img/prices_bg.png);
		background-repeat: repeat;
		padding: 50px 0;
		padding-bottom: 70px;
	}
	.prices-content .big-title {
		font-weight: bold;
		font-size: 40px;
		line-height: 130%;
		text-align: center;
		color: #2E2E2E;
		padding-bottom: 50px;
	}
	.prices-content .pricing-blocks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.prices-content .pricing-blocks .block {
		margin: 10px;
		display: block;
		padding: 40px;
		max-width: 365px;
		border-radius: 5px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		background: white;
	}
	.prices-content .pricing-blocks .block .title {
		font-weight: 900;
		font-size: 22px;
		line-height: 130%;
		color: #2E2E2E;
	    margin-bottom: 25px;
	}
	.prices-content .pricing-blocks .block .description-text {
		font-weight: normal;
		font-size: 14px;
		line-height: 130%;
		color: #2E2E2E;
		min-height: 50px;
	}
	.prices-content .pricing-blocks .block button.action-btn {
		display: block;
		text-align: center;
		padding: 20px 0;
		margin: 0;
		margin-top: 20px;
		margin-bottom: 30px;
		background: #6CBD45;
		color: white;
		font-weight: normal;
		font-size: 13px;
		line-height: 110%;
		text-transform: uppercase;
		border: none;
	    width: 100%;
	    transition: all 0.3s ease;
	    cursor: pointer;
	}
	.prices-content .pricing-blocks .block button.action-btn:hover {
		background: #3e9912;
	}
	.prices-content .pricing-blocks .block .included-list {
		min-height: 180px;
	}
	.prices-content .pricing-blocks .block .included-list .list-title {
		font-style: normal;
		font-weight: 900;
		font-size: 14px;
		line-height: 130%;
		color: #2E2E2E;
		margin-bottom: 20px;
	}
	.prices-content .pricing-blocks .block .included-list ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.prices-content .pricing-blocks .block .included-list ul li {
		padding: 0;
		margin: 0;
		margin-top: 10px;
		position: relative;
		padding-left: 17px;
		font-weight: bold;
		font-size: 12px;
		line-height: 140%;
		color: #2E2E2E;
	}
	.prices-content .pricing-blocks .block .included-list ul li::before {
		content: "";
		position: absolute;
		top: 3px;
		left: 0;
		background-image: url(img/list-item.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 12;
		height: 10px;
	}
/* /prices screen styles */

/* media queries */
	@media (max-width: 1199px) and (min-width: 1024px) {
		.prices-content .pricing-blocks .block {
			max-width: 320px;
		}
		.prices-content .pricing-blocks .block .title {
			font-size: 20px;
		}
	}
	@media (max-width: 1023px) and (min-width: 768px) {
		.prices-content .pricing-blocks .block {
			max-width: 235px;
			padding: 20px;
		}
		.prices-content .pricing-blocks .block .title {
			font-size: 17px;
		}
		.prices-content .pricing-blocks .block button.action-btn {
			font-size: 10px;
			padding: 15px 0;
		}
		.prices-content .pricing-blocks .block .included-list {
		    min-height: 200px;
		}
	}
	@media (max-width: 767px) {
		.prices-content {
		    padding-bottom: 10px;
		}
		.prices-content .big-title {
		    padding-bottom: 20px;
		}
		.prices-content .pricing-blocks {
			flex-direction: column;
		}
		.prices-content .pricing-blocks .block {
			padding: 30px;
		}
		.prices-content .pricing-blocks .block .title {
			font-size: 21px;
		}
		.prices-content .pricing-blocks .block button.action-btn {
			font-size: 12px;
			padding: 17px 0;
		}
		.prices-content .pricing-blocks .block .included-list {
		    min-height: auto;
		}
	}
/* /media queries */

/* cta-block */
	.prices-screen .cta-block {
		padding: 50px 0;
		background: #F7F7F7;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.prices-screen .cta-block .title {
		font-weight: 900;
		font-size: 22px;
		line-height: 130%;
		color: #2E2E2E;
		padding-bottom: 30px;
		text-align: center;
	}
	.prices-screen .cta-block button.cta-btn {
		background: transparent;
		color: #6CBD45;
		border: 1px solid;
		font-weight: normal;
		font-size: 13px;
		line-height: 110%;
		text-align: center;
		text-transform: uppercase;
		height: 50px;
		width: 280px;
		transition: all 0.2s ease;
		cursor: pointer;
		box-sizing: border-box;
	}
	.prices-screen .cta-block button.cta-btn:hover {
		color: #3e9912;
	}
/* /cta-block */

/* popup-quiz */
	.prices-screen .popup-quiz {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #2e2e2eb3;
		z-index: 99999999999999999999;
		transition: background 0.3s;
	}
	.prices-screen .popup-quiz:not(.show-quiz) {
		background: transparent;
	}

	.prices-screen .popup-quiz:not(.display-on) {
		display: none!important;
	}
	.prices-screen .popup-quiz .inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		transition: all 0.3s;
	}
	.prices-screen .popup-quiz:not(.show-quiz) .inner {
		opacity: 0!important;
	}

	.prices-screen .popup-quiz .quiz-step-block {
		position: absolute;
		transform: translateX(0);
		max-width: 500px;
		min-width: 300px;
		padding: 30px;
		background: white;
		opacity: 1;
		transition: all 0.5s cubic-bezier(0.5, -1, 0.5, 2);
		visibility: visible;
		box-sizing: border-box;
	}
	.prices-screen .popup-quiz .quiz-step-block:not([data-quiz-cur-step]) {
		visibility: hidden!important;
		opacity: 0!important;
	}
	.prices-screen .popup-quiz .quiz-step-block:not([data-quiz-cur-step])[data-quiz-anim-dir="l"] {
		transform: translateX(-50px);
	}
	.prices-screen .popup-quiz .quiz-step-block:not([data-quiz-cur-step])[data-quiz-anim-dir="r"] {
		transform: translateX(50px);
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-next-step] {
		transition-delay: 0.1s;
	}
	.prices-screen .popup-quiz .quiz-step-block img.close-cross-btn {
		position: absolute;
		display: block;
		cursor: pointer;
		top: 0;
		right: -30px;
		width: 20px;
		height: 20px;
	}
/* /popup-quiz */

/* quiz-progress-bar */
	.prices-screen .popup-quiz .quiz-step-block .quiz-progress-bar {
		display: flex;
	    width: 100%;
	    height: 10px;
	    background: transparent;
	    border-radius: 10px;
	    overflow: hidden;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-progress-bar i {
		display: block;
	    width: 25%;
	    background: #E7E7E7;
	    margin-right: 1px;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-progress-bar i.done {
		background: #6CBD45;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-progress-bar i:last-child {
		margin-right: 0;
	}
/* /quiz-progress-bar */

/* titles */
	.prices-screen .popup-quiz .quiz-step-block .title {
		font-weight: 500;
		font-size: 18px;
		color: #2E2E2E;
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
/* /titles */

/* buttons next & back */
	.prices-screen .popup-quiz .quiz-step-block button.next,
	.prices-screen .popup-quiz .quiz-step-block button.back {
		height: 50px;
		border: 1px solid #6CBD45;
		font-weight: normal;
		font-size: 13px;
		text-transform: uppercase;
		width: 100%;
		cursor: pointer;
		transition: all 0.2s ease;
	}
	.prices-screen .popup-quiz .quiz-step-block button.next:hover,
	.prices-screen .popup-quiz .quiz-step-block button.back:hover {
		border-color: #3e9912;
	}
	.prices-screen .popup-quiz .quiz-step-block button.next {
		background: #6CBD45;
		color: white;
	}
	.prices-screen .popup-quiz .quiz-step-block button.back {
		background: transparent;
		color: #6CBD45;
	}
	.prices-screen .popup-quiz .quiz-step-block button.next:hover {
		background: #3e9912;
	}
	.prices-screen .popup-quiz .quiz-step-block button.back:hover {
		color: #3e9912;
	}

	.prices-screen .popup-quiz .quiz-step-block .nav-buttons {
		display: flex;
		justify-content: space-between;
	}
	.prices-screen .popup-quiz .quiz-step-block .nav-buttons button {
		width: calc(50% - 5px);
	}
/* /buttons next & back */

/* step-first */
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="1"] textarea {
		width: 100%;
	    border: 1px solid #D7D7D7;
	    min-width: 100%;
	    max-width: 100%;
	    min-height: 180px;
	    outline: none;
	    padding: 15px;
	    font-family: 'Lato', sans-serif;
	    font-size: 14px;
	    line-height: 130%;
	    margin-bottom: 20px;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="1"] textarea::placeholder {
		color: #b1b1b1;
	}
/* /step-first */

/* checkboxes */
	.prices-screen .popup-quiz .quiz-step-block input[type="checkbox"] {
		display: none;
	}
	.prices-screen .popup-quiz .quiz-step-block .checkboxes {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 20px;
	}
	.prices-screen .popup-quiz .quiz-step-block .checkboxes label.item {
		display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    margin: 8px 0;
	    cursor: pointer;
	    width: 220px;
	}
	.prices-screen .popup-quiz .quiz-step-block .checkboxes label.item span.checkbox {
		display: block;
		background: white;
		width: 14px;
		height: 14px;
		border-radius: 3px;
		background-position: center;
		background-size: contain;
		border: 2px solid #2E2E2E;
		transition: all 0.2s ease;
	}
	.prices-screen .popup-quiz .quiz-step-block .checkboxes label.item span.text {
		display: block;
		font-weight: normal;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.1px;
		margin-left: 10px;
	}
	.prices-screen .popup-quiz .quiz-step-block .checkboxes label.item:hover span.checkbox {
		border-color: #6CBD45;
	}
	.prices-screen .popup-quiz .quiz-step-block input[type="checkbox"]:checked ~ span.checkbox {
		border-color: #6CBD45;
		background: #6CBD45;
		background-image: url(img/white-checkmark.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 88%;
	}
	.prices-screen .popup-quiz .quiz-step-block input[type="checkbox"]:checked ~ span.text {
		font-weight: bold;
		letter-spacing: 0;
	}
/* /checkboxes */

/* step-third */
	@media (min-width: 400px) {
		.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] {
			min-width: 400px;
		}
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		margin: 20px 0;
		margin-left: 2px;
		margin-bottom: 50px;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span {
		position: relative;
		width: 22%;
		height: 30px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span:last-child {
		width: 12%;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span::after {
		content: attr(data-budget);
		position: absolute;
		top: 100%;
		left: 0;
		transform: translateX(-50%);
		display: block;
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		font-size: 14px;
		text-transform: uppercase;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span i {
		position: absolute;
		width: 100%;
		height: 2px;
		background: #C4C4C4;
		z-index: 1;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span.checked i {
		background: #6CBD45;
		z-index: 2;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span i::before,
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span i::after {
		content: "";
		position: absolute;
		width: 2px;
		height: 8px;
		margin-top: -3px;
		background: #C4C4C4;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span.checked i::before,
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span.checked i::after {
		background: #6CBD45;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span i::before {
		left: -2px;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span i::after {
		right: 0;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="3"] .budget-range span:last-child i::after {
		display: none;
	}
/* /step-third */

/* step-form */
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] .form-inputs {
		margin: 20px 0;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] button.send-form {
		height: 50px;
		border: 1px solid #6CBD45;
		font-weight: normal;
		font-size: 13px;
		text-transform: uppercase;
		width: 100%;
		background: #6CBD45;
		color: white;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] button.send-form:hover {
		background: #3e9912;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] .checkboxes label.item {
		width: auto;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] .checkboxes label.item span.text {
		text-transform: none;
		font-weight: normal!important;
		letter-spacing: 0!important;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] input[type="text"] {
		display: block;
		width: 100%;
		padding: 15px;
		border: 1px solid #D7D7D7;
		outline: none;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] input[type="text"]::placeholder {
		color: #b1b1b1;
	}
	.prices-screen .popup-quiz .quiz-step-block[data-quiz-step-id="4"] input[type="text"].validation-failed {
		border-color: #F26767;
	}
/* /step-form */

/* quiz finish */
	.prices-screen .popup-quiz .quiz-step-block .quiz-finish {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-finish .title {
		font-weight: bold;
	    font-size: 21px;
	    color: #2E2E2E;
	    margin-bottom: 25px;
	    text-align: center;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-finish button.quiz-close-btn {
		background: #6cbd45;
		border: none;
		border-radius: 0;
		height: 50px;
		width: 200px;
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 13px;
		outline: none;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	.prices-screen .popup-quiz .quiz-step-block .quiz-finish button.quiz-close-btn:hover {
		background: #3e9912;
	}
/* /quiz finish */